/* Imagen de fondo que cubre toda la pantalla */
body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  background: url('https://previews.123rf.com/images/jirapatche/jirapatche1807/jirapatche180700316/105265889-aerial-view-of-shrimp-farm-and-air-purifier-in-thailand-continuous-growing-aquaculture-business-is.jpg') no-repeat center center fixed;
  background-size: cover;
  color: white;
  height: 100vh;
}


/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 128, 0, 0.9);
  padding: 15px 25px;
}

.logo {
  font-size: 1.3rem;
  font-weight:bold;
  position: relative;
  left: 150px;
  
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-links li a:hover {
  color: #ffcc00;
}

/* Botón hamburguesa */
.menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 1.8rem;
  color: white;
  cursor: pointer;
}

/* Texto central */
.overlay {
  height: calc(100vh - 70px);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.overlay h1 {
  background: rgba(0, 0, 0, 0.5);
  padding: 20px 40px;
  border-radius: 10px;
}

/* Responsividad */
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 60px;
    right: 20px;
    padding: 15px;
    border-radius: 10px;
  }

  .nav-links.show {
    display: flex;
  }
}
